{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" xmlns:asp=""/>

<style type="text/css">
.auto-style14 {
	text-align: right;
	font-family: "Arial Narrow";
	font-size: medium;
}
.auto-style15 {
	text-align: center;
	font-family: "Arial Narrow";
	font-size: larger;
	color: #FFFFFF;
}
.auto-style16 {
	margin-left: 0px;
}

</style>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% if mensaje %}
                <div class="alert alert-danger">
                    {{ mensaje }}
                </div>
            {% endif %}

            <form method="post" action="">
                {% csrf_token %}
                <div id="layer1" class="auto-style12" style="position: absolute; width: 343px; z-index: 1; left: 473px; top: 86px; height: 266px">
                    <div id="layer2" class="auto-style13" style="position: absolute; width: 342px; height: 53px; z-index: 1; left: 0px; top: 0px">
			            <div id="layer8" class="auto-style15" style="position: absolute; width: 110px; height: 30px; z-index: 1; left: 113px; top: 14px">
				            <strong>Iniciar Sesión</strong>
                        </div>
                    </div>
                    <div id="layer3" class="auto-style14" style="position: absolute; width: 354px; height: 20px; z-index: 2; left: -15px; top: 107px">
                        <label class="control-label" for="username">Usuario:&nbsp;
                        <input type="text" id="username" name="username" class="form-control" value="{{ username }}" style="width: 166px; height: 24px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>&nbsp;
                    </div>
                    <div id="layer4" class="auto-style14" style="position: absolute; width: 287px; height: 21px; z-index: 2; left: 2px; top: 153px">
                        <label for="password">Contraseña:</label>
                        <input type="password" name="password" id="password" class="auto-style16" style="width: 166px; height: 24px">
                    </div>

                    <div id="layer7" style="position: absolute; width: 104px; height: 29px; z-index: 4; left: 203px; top: 210px">
                        <button type="submit" class="auto-style16" style="width: 105px">Ingresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}