<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<style type="text/css">
.auto-style12 {
	border-style: solid;
	border-width: 1px;
	padding: 1px 4px;
	background-color: #FFFFFF;
}
.auto-style13 {
	border-style: solid;
	border-width: 1px;
	padding: 1px 4px;
	background-color: #5250A0;
}
</style>

<body style="background-color: #CCCCCC; background-attachment: fixed;">
    {% block content %} {% endblock content %}
</body>
</html>